Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Ariel Rokem <arokem@gmail.com> arokem <arokem@gmail.com>
Michael Waskom <mwaskom@mit.edu> mwaskom <mwaskom@mit.edu>
Mike Trumpis <mtrumpis@berkeley.edu> miketrumpis <mtrumpis@gmail.com>
Jarrod Millman <jarrod.millman@gmail.com> Jarrod Millman <millman@berkeley.edu>
Jarrod Millman <jarrod.millman@gmail.com> jarrodmillman <millman@berkeley.edu>
Jarrod Millman <jarrod.millman@gmail.com> jarrod <jarrod@fedora11.(none)>
Kilian Koepsell <kilian@berkeley.edu> kilian@berkeley.edu <kilian@phasor.local>
Kilian Koepsell <kilian@berkeley.edu> koepsell <kilian@berkeley.edu>
