#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	# and docs
	PYTHONPATH=$$(/bin/ls -d $$PWD/build/lib.*-*-*) $(MAKE) -C doc html
	-rm doc/_build/html/_static/jquery.js
	-rm -r doc/_build/html/_sources
	# objects inventory is of no use for the package
	-rm doc/_build/html/objects.inv
endif

# enable when we believe that the tests should pass
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	for buildver in $(shell pyversions -vr); do \
		echo "I: Running NiTime unittests using python$$buildver"; \
		PYTHONPATH=$$(/bin/ls -d $$PWD/build/lib.*-$$buildver) \
			python$$buildver /usr/bin/nosetests -v -s nitime || exit 1 ;\
	done
endif

## immediately useable documentation
## and exemplar data (they are small excerpts anyway)
override_dh_compress:
	dh_compress -X.py -X.html -X.css -X.jpg -X.txt -X.js -X.json -X.rtc -X.par -X.bin
