name: Test suite

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test:

    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        # We test NumPy dev on 3.11
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        requires: ['requirements.txt']
        include:
          - python-version: '3.10'
            requires: 'min-requirements.txt'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install
      run: |
        set -eo pipefail
        python -m pip install --upgrade pip
        python -m pip install -r ${{ matrix.requires }}
        python -m pip install -r requirements-dev.txt
        if [[ "${{ matrix.python-version }}" == "3.11" ]]; then
          python -m pip install --only-binary numpy --pre --extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple "numpy>=2.1.0.dev0"
        fi
        python -m pip install .
    - name: Lint
      run: |
        pipx run flake8 --ignore N802,N806,W504 --select W503 nitime/ tools/
    - name: Test
      run: |
        mkdir ~/for_test && cd ~/for_test && pytest --pyargs nitime --cov-report term-missing --cov=nitime
