name: Build

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  job_metadata:
    runs-on: ubuntu-latest
    outputs:
      commit_message: ${{ steps.get_commit_message.outputs.commit_message }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Print head git commit message
        id: get_commit_message
        run: |
          if [[ -z "$COMMIT_MSG" ]]; then
            COMMIT_MSG=$(git show -s --format=%s $REF)
          fi
          echo commit_message=$COMMIT_MSG | tee -a $GITHUB_OUTPUT
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
          REF: ${{ github.event.pull_request.head.sha }}

  build-sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Build sdist
        run: pipx run build -s
      - uses: actions/upload-artifact@v5
        with:
          name: source-dist
          path: ./dist/*.tar.gz

  build-wheel:
    name: Build wheel for ${{ matrix.python }}-${{ matrix.buildplat[1] }}
    needs: [job_metadata]
    runs-on: ${{ matrix.buildplat[0] }}
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') || contains(needs.job_metadata.outputs.commit_message, '[build wheels]')
    strategy:
      fail-fast: false
      matrix:
        buildplat:
          - [ubuntu-latest, musllinux_x86_64]
          - [ubuntu-latest, manylinux_aarch64]
          - [macos-15-intel, macosx_x86_64]  # native Intel hardware
          - [windows-latest, win_amd64]
        python: ["cp310", "cp311", "cp312", "cp313", "cp314"]
        include:
          # Manylinux and arm64 builds (on native hardware) are cheap, do all in one
          - { buildplat: ["ubuntu-latest", "manylinux_x86_64"], python: "*" }
          - { buildplat: ["macos-14", "macosx_arm64"], python: "*" }

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6

      # For aarch64 support
      # https://cibuildwheel.pypa.io/en/stable/faq/#emulation
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: all
        if: runner.os == 'Linux' && endsWith(matrix.buildplat[1], 'aarch64')

      - name: Build wheel(s)
        run: uvx cibuildwheel
        env:
          CIBW_BUILD: ${{ matrix.python }}-${{ matrix.buildplat[1] }}

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.python == '*' && 'all' || matrix.python }}-${{ startsWith(matrix.buildplat[1], 'macosx') && 'macosx' || matrix.buildplat[1] }}-dist
          path: ./wheelhouse/*.whl

  test-sdist:
    name: Test sdist
    needs: [build-sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: source-dist
          path: ./dist
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install sdist
        run: pip install dist/*.tar.gz
      - run: python -c 'import nitime; print(nitime.__version__)'
      - name: Install pytest
        run: pip install pytest
      - name: Run tests
        run: pytest -v --pyargs nitime

  pre-publish:
    runs-on: ubuntu-latest
    needs: [test-sdist, build-wheel]
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist/
          pattern: '*-dist'
          merge-multiple: true
      - run: ls -lR dist/
      - run: pipx run twine check dist/*

  publish:
    runs-on: ubuntu-latest
    environment: "Package deployment"
    needs: [pre-publish]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist/
          pattern: '*-dist'
          merge-multiple: true
      - run: ls -lR dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
